{% extends 'abstract_page.twig' %}
{% use 'mixin_authenticated.twig' %}

{% block title %}
	{{title}}
{% endblock %}
{% block head %}
<style>
.progress-text { position: absolute; text-align: center; width: 100%; margin: 0; color: black; }

.video-adminlinks {
	float: right;
}

.fileList li:nth-child(2n) {
	background-color: lightblue;
	border: 1px solid lightblue;
}
.fileList li:nth-child(2n+1) {
	background-color: #D6ECF2;
	border: 1px solid #D6ECF2;
}

.fileList li:hover {
	border: 1px solid #6699FF;
}

.fileList {
	padding-left: 0;
}
.fileList li {
	list-style: none;
	padding-left: .5em;
	padding-right: .5em;
	padding-top: .1em;
	padding-bottom:.1em;
}

/* Yellow Fade Technique--http://jsfiddle.net/csswizardry/TVqVC/ */
:target{
	-webkit-animation:yellow-fade 3s;
	   -moz-animation:yellow-fade 3s;
	        animation:yellow-fade 3s;
}
@-webkit-keyframes yellow-fade{
	5%{ background-color:#ff4; }
}
@-moz-keyframes yellow-fade{
	5%{ background-color:#ff4; }
}
@keyframes yellow-fade{
5	%{ background-color:#ff4; }
}

.list-group-item:hover, .list-group-item:focus {
background-color: #f5f5f5;
color: #555;
text-decoration: none;
}
</style>
{% endblock %}
{% block body %}
	{% if listing|length > 0 %}
		<ul>{% for file in listing %}
			{% block file %}{% endblock %}
		{% endfor %}</ul>
	{% else %}
		<div class="alert alert-info" role="alert">
			No videos have been uploaded.
			<a href="/admin/content/upload/">Upload a video</a>
		</div>
	{% endif %}
	
	{# Disk usage meter #}
	{% set spaceused = space.total - space.free %}
	{% set spacefrac = spaceused / space.total %}
	<div class="progress"><div class="progress-bar" aria-valuemin="0" aria-valuemax="{{space.total}}" aria-valuenow="{{spaceused}}" style="width:{{spacefrac * 100}}%"><p class="progress-text">{{spaceused | disksi }} of {{space.total | disksi}} used ({{ (spacefrac * 100) | round }}%)</p></div></div>
	
{% endblock %}
