{% extends 'page.twig' %}
{% set requirements = {
	'lib/knockout': 'ko',
	'videoeditor/Metadatum': 'Metadatum',
	'videoeditor/Series': 'Series',
	'videoeditor/VideoViewModel': 'VideoViewModel',
} %}
{% use 'requirejs.twig' with requirements %}
{% block title %}
	{% if id == 'new' %}Create{% else %}Edit{% endif%}
	{% if video.is_series %}series{% else %}video{% endif %}{% if video.title != "" %}: {{video.title}}{% endif %}
{% endblock %}
{% block script %}
	var video = new VideoViewModel();
	
	var completions = require('completions');
	video.title("{{video.title|escape("js")}}");
	{% if not video.is_series and video.parent_series != '' %}
		// TODO this is a bit of a kluge
		for (name in completions['series']) {
			if (completions['series'][name] == {{video.parent_series}}) {
				video.series(new Series(name, {{video.parent_series}}));
				break;
			}
		}
	{% endif %}
	{% for key, value in metadata %}
		video.metadata.push(new Metadatum("{{key|escape('js')}}", "{{value|escape('js')}}"));
	{% endfor %}
	
	ko.applyBindings(video);
	document.activeElement.blur(); // Otherwise the typeahead box appears on the last metadatum
{% endblock %}
{% block body %}
{{ parent() }}
<form class="editForm" id="seriesEditForm" method="POST" action="/admin/content/edit/save?{% if id == 'new' %}new=series{% else %}id={{id}}{% endif %}&return={{ return }}">
<noscript>Error: This page will not work if you have JavaScript turned off.</noscript>
	{% include 'videoeditor.twig' with {'video':video} %}
	<div style="margin-top:1em;">
		<input type="submit" value="Save" class="btn btn-primary"/>
		{% if return == 'callback' %}
			<a href="javascript:window.parent.EditorCompleteCallback('');" class="btn btn-default">Cancel</a>
		{% elseif return == 'library' %}
			<a href="/library/{{ id }}" class="btn btn-default">Cancel</a>
		{% else %}
			Error in template: unknown return method, can't cancel.
		{% endif %}
	</div>
</form>
{% endblock %}
